#Estos son los requisitos o librerias que encesita el proyecto para funcionar correctamente

python -- version >= 3.12 para este proyecto.
sqlite3 --version >= the lastest version, no se ocupa.
pdfminer.six==20250506
sentence-transformers==4.1.0
os
re


